<body>
  <!-- Navigation -->
  <div id="navigation">
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="site-logo">
            <a href="index.html" class="brand"><img src="./img/logo.png" alt="CDC"></a>
          </div>

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
              <i class="fa fa-bars"></i>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#home">Home</a></li>
              <li><a href="#about">Sobre nós</a></li>
              <li><a href="#services">Serviços</a></li>
              <li><a href="#works">Siga-nos</a></li>
              <li><a href="#contact">Contato</a></li>
            </ul>
          </div>
          <!-- /.Navbar-collapse -->
        </div>
      </div>
      <!-- /.container -->
    </nav>
  </div>
  <!-- /Navigation -->

  <div id="home">
    <div class="slider">
      <img src="img/3.jpg" class="img-responsive" />
    </div>
  </div>


  <!-- Section: about -->
  <section id="about">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Sobre</h2>
              <div class="divider-header"></div>
              <p>
                A Casa do Chopp é uma marca que segue o conceito de "Loja de Chopp", com o objetivo de oferecer
                para nossa sociedade e região uma experiência completa do mundo do chope e de suas ocasiões de consumo,
                além de comodidade com o serviço de entrega.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="img/dummy1.jpg" alt="" class="img-responsive" />
        </div>

        <div class="col-md-6">
          <p>
            Como toda empresa nós estabelecemos metas. Aqui estão duas das nossas principais metas, que são atualizadas no site
            a cada quinzena, com o objetivo de manter a transparência e encorajar novos e velhos empreendedores a participar do
            ramo cervejeiro.
          </p>
          <div style="margin-top: 100px; margin-left:60px">
            <h1>METAS ANUAIS</h1>
          </div>
          <h5>Litros de Chop vendidos (mensal)</h5>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0"
              aria-valuemax="100" style="width: 30%">
              33%
            </div>
          </div>
          <h5>Franquias abertas (anual)</h5>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0"
              aria-valuemax="100" style="width: 60%">
              60% - Franquias
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: about -->

  <!-- Section: services -->
  <section id="services" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.1s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Serviços</h2>
              <div class="divider-header"></div>
              <p>
                Além de venda e locação de produtos como cervejas especiais e chope,
                os clientes contarão com consultoria para realização de festas. Há também
                a consultoria para o franquiado, auxiliando em todas as etapas do negócio.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.8s">
            <div>
              <span class="fas fa-shipping-fast fa-5x"></span>
            </div>
            <h2>Prazo</h2>
            <p>
              Nossos prazos são definidos pelo cliente. Para nós, o seu conforto é
              uma satisfação.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="1.2s">
            <div>
              <span class="fas fa-award fa-5x"></span>
            </div>
            <h2>Qualidade</h2>
            <p>
              Qualidade nos produtos e qualidade no serviço. Nossa equipe
              coloca o cliente em primeiro lugar, visando o conforto e a satisfação
              ao beber um bom chope no conforto de sua casa, comemorando em sua festa
              e em nossas belas lojas.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="1.6s">
            <div>
              <span class="fas fa-money-check-alt fa-5x"></span>
            </div>
            <h2>Preço</h2>
            <p>
              Trabalhamos com preços competitivos e representamos as melhores marcas do mercado nacional.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: /services -->

  <!-- Section: follow -->
  <section id="works">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.1s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Siga-nos</h2>
              <div class="divider-header"></div>
              <p>
                Nossas redes sociais sempre lhe mantém atualizado das nossas novidades como
                eventos e novos produtos. Não perca tempo, siga-nos!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.8s">
            <div class="service-icon">
                <a target="_blank" href="https://www.facebook.com/casadochoppsantoangelo/"><span class="fab fa-facebook-square fa-5x"></span></a>
            </div>
            <h2>Facebook</h2>
            <p>
              Você pode tirar suas dúvidas e saber mais sobre nossa história e negócios no Facebook.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="1.2s">
            <div class="service-icon">
             <a target="_blank" href="https://www.instagram.com/casa_do_chopp_/"><span class="fab fa-instagram fa-5x"></span></a>
            </div>
            <h2>Instagram</h2>
            <p>
              Siga nosso Instagram para saber tudo sobre o mundo do chope e das cervejas no geral!
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="1.6s">
            <div class="service-icon">
             <a target="_blank" href="https://www.facebook.com/casadochoppsantoangelo/"><span class="fab fa-whatsapp fa-5x"></span></a>
            </div>
            <h2>Whatsapp</h2>
            <p>
              Sim! Nós atendemos por Whatsapp, mas antes precisamos que curta nossa página no Facebook.
              Depois que curtir, vai receber uma mensagem com o número.
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Section: /follow -->

  <!-- Section: contact -->
  <div id="contact">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3512.681248457227!2d-54.267667585549646!3d-28.307978382546903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94fe908411dfd261%3A0x6ef070f88df3cddb!2sAv.+Get%C3%BAlio+Vargas%2C+964+-+Centro%2C+Santo+%C3%82ngelo+-+RS%2C+98801-703!5e0!3m2!1spt-BR!2sbr!4v1556128335866!5m2!1spt-BR!2sbr" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="container">
      <div class="row contact-wrap">
        <div class="col-md-8 col-md-offset-2">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome" data-rule="minlen:4"
                data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" data-rule="email"
                data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg=""
                placeholder="Seja direito e faça todas as perguntas que desejar  :D ."></textarea>
              <div class="validation"></div>
            </div>

            <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Enviar Mensagem</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Section: /contact -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="text-center">
            <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
            <p>CyberGust &copy;</p>
            <div class="credits">
              <div class="service-icon">
                <a href="https://github.com/CyberGust" target="_blank"><span class="fab fa-github fa-3x"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Core JavaScript Files -->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/functions.js"></script>
  <script src="contactform/contactform.js"></script>

</body>